spring:
  datasource:
    url: jdbc:mysql://localhost:3306/umc8th?serverTimezone=Asia/Seoul
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        show_sql: true
        format_sql: true
        use_sql_comments: true
        hbm2ddl:
          auto: create
        default_batch_fetch_size: 1000
  jwt:
    token:
      secretKey: umceightfightingjwttokenauthentication
      expiration: # (만료) 시간 설정은 ms단위
        access: 14400000 # 4시간(보통 1시간~4시간 단위를 많이 채택)
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-authentication-method: client_secret_post
            client-id: d6953d297dc7fe2e7e06ce426a33943d
            client-secret: ACTdHMXT7VvzctcWPD2RU9lB5Tdx19tY
            redirect-uri: http://3.35.136.94:8080/login/oauth2/code/kakao
            authorization-grant-type: authorization_code
            scope: profile_nickname
            client-name: Kakao